{% extends 'base.html' %}

{% block title %} Post Edit Form {% endblock %}


{% block content %}

<h1>Edit Post</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">
  <div class="mb-3">
    <label>Title
        <input name="title" type="text" value={{ post.title }}>
    </label>
  </div>
  <div class="mb-3">
    <label>Content
        <textarea class="form-control" type="text" name="content">{{ post.content }}</textarea>
    </label>
  </div>
  <a class="btn btn-info" href="/posts/{{ post.id }}">Cancel</a>
  <button type="submit"class="btn btn-success">Add</button>
</form>

{% endblock %}
