{% extends 'base.html' %}

{% block title %} Users List {% endblock %}


{% block content %}

<h1>Edit a user</h1>

<form method="POST">
  <div class="mb-3">
      <label>First Name
          <input name="first_name" value={{ user.first_name }}>
      </label>
  </div>
  <div class="mb-3">
      <label>Last Name
          <input name="last_name" value={{ user.last_name }}>
      </label>
  </div>
  <div class="mb-3">
      <label>Image URL
          <input name="image_url" value={{ user.image_url }}>
      </label>
  </div>
  <a class="btn btn-light" href="/users/{{ user.id }}")>Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>
</form>



{% endblock %}
